<!-- <ion-header [translucent]="true">

</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="background-wrapper">

    <div class="foto">
      <img src="assets/images/goku.png" alt="">
      <h1>Gabriel Adhi </h1>
      <ion-button color="light" shape="round">Diamond</ion-button>
    </div>

    <div class="flower">
      <div class="shape1"></div>
      <div class="shape2"></div>
      <div class="shape3"></div>
      <div class="shape4"></div>
    </div>

    <div class="menu-item">
      <div class="column">
        <img src="assets/icon/menu.png" alt="">
      </div>
      <div class="column">
        <img src="assets/icon/transfer.png">
      </div>
    </div>
  </div>



  <!--list menu-->
  <div class="list">
    <ion-list>
      <div class="data-transaksi">
        <ion-item>
          <ion-icon name="chevron-down-outline"></ion-icon>
          <h1>083145021444</h1>
          <img src="assets/icon/visa-pay-logo.svg" alt="">
        </ion-item>
      </div>
      <div class="data-transaksi1">
        <ion-item>
          <div class="grid-item">
            <h1>Rp.1.500.000</h1>
          </div>
          <div class="grid-item">
            <h2>Balance </h2>
          </div>
          <div class="grid-item">
            <h3>09 Agustus 2019</h3>
          </div>
          <div class="grid-item">
            <h4>Validity</h4>
          </div>
        </ion-item>
      </div>

      <div class="kuota">
        <ion-slides>
          <div class="column">
            <ion-list class="banner">
              <h1>Internet</h1>
              <h2>1 GB</h2>
              <p>1 kuota tersia 200mb</p>
            </ion-list>
          </div>

          <div class="column">
            <ion-list class="banner">
              <h1>Entertainment</h1>
              <h2>1,45 GB</h2>
              <p>1 kuota tersisa 300 mb</p>
            </ion-list>
          </div>
          <div class="column">
            <ion-list class="banner">
              <h1>Telepon</h1>
              <h2>12 GB</h2>
              <p>1 kuota tersisa 500mb</p>
            </ion-list>
          </div>
        </ion-slides>
      </div>
      <ion-button expand="block" fill="outline full">Add Credit</ion-button>
      <ion-button expand="block" color="danger">Buy Packagae</ion-button>
    </ion-list>
  </div> 

  <!--slide-->



  <ion-grid>
    <ion-row>
      <ion-col size="5" class="kotak">
        <img src="assets/icon/pay.png" alt="">
        <h1>Rp19.999.999</h1>
      </ion-col>
      <ion-col size="5">
        <img src="assets/icon/hert.png" alt="">
        <h1>100.000 Point</h1>
      </ion-col>
    </ion-row>
  </ion-grid> 

  <!--slide promo-->
  <div class="background-body">
    <h1>Social Promo</h1>
    <h2>Lihat Semuanya</h2>
    <div class="slider">
      <ion-slides loop="true" pager="true" zoom="true" autoplay="4000" effect="slide" speed="1000" spaceBetween="30"
        slidesPerView="1.5">
        <ion-slide class="promo">
          <img src="assets/images/1.jpg ">
        </ion-slide>
        <ion-slide class="promo">
          <img src="assets/images/2.jpg">
        </ion-slide>
        <ion-slide class="promo">
          <img src="assets/images/3.jpg">
        </ion-slide>
      </ion-slides>
    </div>
  </div>

  <!--list-menu-->
  <div class="list-item">
    <ion-list>
      <div class="column">
        <img src="assets/icon/pay.png" alt="">
        <h1>Top Up</h1>
      </div>
      <div class="column">
        <img src="assets/icon/transfer.png" alt="">
        <h1>Transfer</h1>
      </div>
      <div class="column">
        <img src="assets/icon/clock.png" alt="">
        <h1>History</h1>
      </div>
    </ion-list>
  </div> 

</ion-content>