.background-wrapper {
  background-color: rgb(33, 33, 116);
  height: 12pc;
  width: auto;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;

  .notif {
    position: absolute;
    top: 21px;
    height: 30px;
    width: 30px;
    right: 16px;

    img {
      width: 30px;
      height: 30px;
      transform: rotate(18deg);
    }
  }

  .text {
    h1 {
      margin-top: 0px;
      text-align: center;
      position: absolute;
      left: 11pc;
      top: 1pc;
      color: white;
      font-weight: bold;
      font-family: sans-serif;
    }
  }

  .saldo {
    h1 {
      margin-top: 0px;
      text-align: center;
      position: absolute;
      left: 2pc;
      top: 5pc;
      color: white;
      font-family: sans-serif;
      font-size: 15px;
    }

    h2 {
      margin-top: 0px;
      text-align: center;
      position: absolute;
      left: 2pc;
      top: 6pc;
      color: white;
      font-weight: bold;
      font-family: sans-serif;
    }

    h3 {
      margin-top: 0px;
      text-align: center;
      position: absolute;
      left: 2pc;
      top: 8pc;
      color: white;
      font-family: sans-serif;
      font-size: 15px;
    }

    p {
      margin-top: 0px;
      text-align: center;
      position: absolute;
      left: 7pc;
      top: 8pc;
      color: gold;
      font-weight: bold;
      font-family: sans-serif;
    }
  }


  .background-circle {
    opacity: 0.2;
    position: relative;
    top: 102px;

  }

  .background-wave {
    opacity: 0.2;
  }
}

.list {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  bottom: 337px;
  left: 65px;

  ion-list {
    display: flex;
    box-shadow: 4px 4px 4px grey;
    border-radius: 12px;
    position: relative;
    top: -2pc;
    left: -1pc;
    width: auto;
  }


  .column {
    padding: 12px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: -35px;
    margin-top: -12px;


    h1 {
      font-size: 16px;
      font-family: sans-serif;
      color: lighten($color: #796d6d, $amount: 0);
      color: black;
      text-align: left;
      position: relative;
      bottom: 12px;
    }

    img {
      max-width: 100%;
      height: 30px;
      width: 30px;
      position: relative;
      left: 15px;

    }
  }
}

.menu {
  position: absolute;
  top: 19pc;
  padding-left: 0px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;


  .grid-item {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 12px;
  }


  h1 {
    font-size: 16px;
    font-family: sans-serif;
    color: lighten($color: #796d6d, $amount: 0);
    color: black;
    text-align: center;
    position: relative;
    bottom: 12px;

  }

  img {
    max-width: 100%;
    height: 40px;
    width: 40px;
    position: relative;
    background-color: grey opacity(0.5);
    border-radius: 12px;

  }
}


.background-body {
  h1 {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lighten($color: #796d6d, $amount: 0);
    color: black;
    text-align: center;
    position: relative;
    bottom: 12px;
    clear: both;
    position: absolute;
    top: 31pc;
    left: 20px;

  }

  h2 {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lighten($color: #796d6d, $amount: 0);
    color: skyblue;
    text-align: center;
    position: relative;
    bottom: 12px;
    clear: both;
    position: absolute;
    top: 31pc;
    left: 17pc;

  }

  .slider {
    position: absolute;
    top: 34pc;
    width: 100%;

    .banner {
      padding: 0 12px;
      width: 80% !important;



      img {
        border-radius: 10px;
      }
    }


    .slides {
      .swiper-container {
        height: 150px;
        width: 100%;
      }

      .swiper-wrapper {
        .swiper-slide {
          background: #a8a8a8;
          width: 80%;

        }
      }

      ion-slides {
        width: auto;
        max-width: 80% !important;
        height: auto;
        max-height: 90%;

      }
    }
  }
}