<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="siteWrapper">
    <header>
      <nav>
        <ul class="siteNav">
          <li><a href="#0">About me</a></li>
          <li><a href="#0">Journey</a></li>
          <li><a href="#0">Contact</a></li>
        </ul>
      </nav>
  
      <a href="#0" class="logo">
        KD
      </a>
  
      <div>
        <a href="#0" class="buttonWrapper">
          <button class="button">
            <div class="text">Log In</div>
            <svg width="81px" height="37px" viewBox="0 0 81 37" class="border">
              <polyline points="80,1 80,36 1,36 1,1 80,1" class="background" />
              <polyline points="80,1 80,36 1,36 1,1 80,1" class="hl-line" />
            </svg>
          </button>
        </a>
        <a href="#0" class="buttonWrapper">
          <button class="button">
            <div class="text">Sign Up</div>
            <svg width="81px" height="37px" viewBox="0 0 81 37" class="border">
              <polyline points="80,1 80,36 1,36 1,1 80,1" class="background" />
              <polyline points="80,1 80,36 1,36 1,1 80,1" class="hl-line" />
            </svg></button
        ></a>
      </div>
    </header>
  
    <main>
      <div class="title">
        KEBUMEN
        <div class="subtitle">at night</div>
      </div>
  
      <button class="button">
        <div class="text">EXPLORE</div>
        <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="background" />
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
        </svg>
      </button>
    </main>
  
  
  </div>
  
</ion-content>
